#main {
	background-color: #27272b;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

#title {
	color: red;
}

#subtitle {
	color: white;
	font-size: 18px;
	font-style: italic;

}

#image {
	/*Responsively resize image*/
	max-width: 100%;
	height: auto;
	/*Center img element*/
	display: block;
    margin-left: auto;
    margin-right: auto
}

#img-caption {
	color: white;
}

#tribute-info{
	color: white;
	background-color: #1a1816;
	margin-left: 20%;
	margin-right: 20%;
	padding: 15px 15px;
	line-height: 25px;
}

#tribute-link {
	color: #ff8e33;
	font-weight: bold;
}

#staff-grid {
	display: grid;
	grid-template-columns: auto auto;
	background-color: #1a1816;
	margin-left: 20%;
	margin-right: 20%;
	color: white;
/*	padding-left: 15px;
	padding-right: 15px;*/
}

.grid-cell {
	padding-top: 16px;
	padding-left: 15px;
	padding-right: 15px;
}

.member-name {
	color: white;
	font-weight: bold;
}

.staff-image {
	
}

.staff-text {
	text-align: left;
	line-height: 25px;
	display: flex;
	align-items: center;
}