#main {
	background-color: #27272b;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

#title {
	color: red;
}

#subtitle {
	color: white;
	font-size: 18px;
	font-style: italic;

}

#image {
	/*Responsively resize image*/
	max-width: 100%;
	height: auto;
	/*Center img element*/
	display: block;
    margin-left: auto;
    margin-right: auto
}

#img-caption {
	color: white;
}

#tribute-info, #staff {
	color: white;
	background-color: #1a1816;
	margin-left: 20%;
	margin-right: 20%;
	padding: 15px 15px;
}

#tribute-link {
	color: #ff8e33;
	font-weight: bold;
}

#staff {

}